template(name='header')
    header.navbar
        .navbar-inner
            a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="{{pathFor 'home'}}") Microscope
            .nav-collapse.collapse
                ul.nav
                    li(class="{{activeRouteClass 'home' 'newPosts'}}")
                        a(href="{{pathFor 'newPosts'}}") New
                    li(class="{{activeRouteClass 'bestPosts'}}")
                        a(href="{{pathFor 'bestPosts'}}") Best
                    if currentUser
                        li(class="{{activeRouteClass 'postSubmit'}}")
                            a(href="{{pathFor 'postSubmit'}}") New
                        li.dropdown
                            +notifications
                ul.nav.pull-right
                    +loginButtons
