template(name='postItem')
    .post
        a(href="#" class="upvote btn #{upvotedClass}") ⬆
        .post-content
            h3
                a(href='{{url}}') {{title}} <span> {{domain}} </span>
            p {{votes}} Votes, submitted by {{author}}
                a(href="{{pathFor 'postPage'}}") {{commentsCount}} comments
                if ownPost
                    a(href="{{pathFor 'postEdit'}}") Edit
        a(href="{{pathFor 'postPage'}}" class="discuss btn") Discuss
