template(name='postItem')
    .post
        .post-content
            h3
                a(href='{{url}}') {{title}} <span> {{domain}} </span>
        a(href="{{pathFor 'postPage'}}" class="discuss btn") Discuss